In [22]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# Financial Statement Documents:

## Income Statement:

In [23]:
income_statement=pd.read_excel(r'Financial Statement(MNG).xlsx',sheet_name='Income Statement')
income_statement=income_statement.iloc[2:,1:-1].reset_index(drop=True)

# Rename columns:
income_statement.columns=income_statement.columns.str.replace('FY','',regex=False)
income_statement.head()

            Fiscal Year    2024     2023    2022    2021   2020
0     Operating Revenue    8859     7508    9645    7423   4726
1         Other Revenue       -        -     0.1       -      -
2               Revenue    8859     7508    9645    7423   4726
3  Revenue Growth (YoY)  18.01%  -22.16%  29.94%  57.07%  3.79%
4       Cost of Revenue    4339     3803    4314    3284   1988

## Balance Sheet:

In [24]:
balance_sheet=pd.read_excel(r'Financial Statement(MNG).xlsx',sheet_name='Balance Sheet')
balance_sheet=balance_sheet.iloc[2:,1:-1].reset_index(drop=True)

#Rename columns:
balance_sheet.columns=balance_sheet.columns.str.replace('FY','',regex=False)
balance_sheet.head()

                     Fiscal Year    2024   2023    2022    2021   2020
0             Cash & Equivalents    2589   2741    2496    1727  917.9
1  Cash & Short-Term Investments    2589   2741    2496    1727  917.9
2                    Cash Growth  -5.53%  9.79%  44.54%  88.14%  9.52%
3            Accounts Receivable    1686   1532    1576    2227  977.4
4              Other Receivables    2360   2131    1956    1444   1623

## Cash Flow:

In [25]:
cash_flow=pd.read_excel(r'Financial Statement(MNG).xlsx',sheet_name='Cash Flow')
cash_flow=cash_flow.iloc[2:,1:-1].reset_index(drop=True)

#Rename columns:
cash_flow.columns=cash_flow.columns.str.replace('FY','',regex=False)
cash_flow.head()

                             Fiscal Year    2024    2023   2022   2021   2020
0                             Net Income   619.8   514.4   1615  861.5  224.8
1            Depreciation & Amortization    1279    1199   1100   1077  888.5
2                     Other Amortization  200.88  249.61  373.8    368    216
3        Loss (Gain) From Sale of Assets    14.1   -37.4    0.3      -     -1
4  Asset Writedown & Restructuring Costs  -94.23  -49.12   26.5   -0.9   68.5

## Ratios:

In [26]:
ratios=pd.read_excel(r'Financial Statement(MNG).xlsx',sheet_name='Ratios')
ratios=ratios.iloc[2:,1:-1].reset_index(drop=True)

#Rename columns:
ratios.columns=ratios.columns.str.replace('FY','',regex=False)
# Delete Current column:
ratios=ratios.drop(columns='Current')
ratios.head()

             Fiscal Year     2024     2023     2022     2021     2020
0  Market Capitalization    34277    17585    25278    15686    11480
1      Market Cap Growth   94.92%  -30.44%   61.15%   36.64%   35.18%
2       Enterprise Value    42552    24283    30035    21721    16712
3       Last Close Price  2889.00  1712.25  2423.30  1490.13  1090.54
4               PE Ratio    55.30    34.19    15.66    18.21    51.07

# Transpose Data:

## Income Statement Transpoe:

In [27]:
# Transpose data:
inc_trsp=income_statement.transpose().reset_index(drop=False)

# set first row as columns head:
inc_trsp.columns=inc_trsp.iloc[0]

# drop First row:
inc_trsp=inc_trsp.drop(0)
inc_trsp

,Fiscal Year,Operating Revenue,Other Revenue,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Other Operating Expenses,Operating Expenses,...,Operating Margin,Profit Margin,Free Cash Flow Margin,EBITDA,EBITDA Margin,D&A For EBITDA,EBIT,EBIT Margin,Effective Tax Rate,Revenue as Reported
1,2024,8859,-,8859,18.01%,4339,4520,4635,-2736,3268,...,14.14%,7.00%,-46.64%,2486,28.06%,1234,1252,14.14%,20.13%,9223
2,2023,7508,-,7508,-22.16%,3803,3705,3220,-1956,2661,...,13.91%,6.85%,-4.31%,2180,29.04%,1136,1044,13.91%,-,7794
3,2022,9645,0.1,9645,29.94%,4314,5332,3492,-1601,3338,...,20.67%,16.74%,3.22%,3019,31.30%,1025,1994,20.67%,11.57%,9789
4,2021,7423,-,7423,57.07%,3284,4139,2984,-1615,2821,...,17.75%,11.61%,9.07%,2319,31.25%,1002,1317,17.75%,14.08%,7633
5,2020,4726,-,4726,3.79%,1988,2738,2198,-1108,2216,...,11.05%,4.76%,-11.70%,1327,28.07%,804.6,522.1,11.05%,14.59%,4718

In [29]:
# Converte Fiscal Year column to datetime type:
inc_trsp['Fiscal Year']=pd.to_datetime(inc_trsp['Fiscal Year'], errors='coerce')
# change  xxxx-01-01 to xxxx-12-31 :
inc_trsp['Fiscal Year']=inc_trsp['Fiscal Year'].dt.year.astype(str)+ '-12-31'
inc_trsp['Fiscal Year']=pd.to_datetime(inc_trsp['Fiscal Year'],errors='coerce')
inc_trsp

,Fiscal Year,Operating Revenue,Other Revenue,Revenue,Revenue Growth (YoY),Cost of Revenue,Gross Profit,"Selling, General & Admin",Other Operating Expenses,Operating Expenses,...,Operating Margin,Profit Margin,Free Cash Flow Margin,EBITDA,EBITDA Margin,D&A For EBITDA,EBIT,EBIT Margin,Effective Tax Rate,Revenue as Reported
1,2024-12-31,8859,-,8859,18.01%,4339,4520,4635,-2736,3268,...,14.14%,7.00%,-46.64%,2486,28.06%,1234,1252,14.14%,20.13%,9223
2,2023-12-31,7508,-,7508,-22.16%,3803,3705,3220,-1956,2661,...,13.91%,6.85%,-4.31%,2180,29.04%,1136,1044,13.91%,-,7794
3,2022-12-31,9645,0.1,9645,29.94%,4314,5332,3492,-1601,3338,...,20.67%,16.74%,3.22%,3019,31.30%,1025,1994,20.67%,11.57%,9789
4,2021-12-31,7423,-,7423,57.07%,3284,4139,2984,-1615,2821,...,17.75%,11.61%,9.07%,2319,31.25%,1002,1317,17.75%,14.08%,7633
5,2020-12-31,4726,-,4726,3.79%,1988,2738,2198,-1108,2216,...,11.05%,4.76%,-11.70%,1327,28.07%,804.6,522.1,11.05%,14.59%,4718

## Balance Sheet Transpose:

In [8]:
# Transpose data:
bs_trsp=balance_sheet.transpose().reset_index(drop=False)

# set first row as columns head:
bs_trsp.columns=bs_trsp.iloc[0]

# drop First row:
bs_trsp=bs_trsp.drop(0)
bs_trsp

,Fiscal Year,Cash & Equivalents,Cash & Short-Term Investments,Cash Growth,Accounts Receivable,Other Receivables,Receivables,Inventory,Other Current Assets,Total Current Assets,...,Filing Date Shares Outstanding,Total Common Shares Outstanding,Working Capital,Book Value Per Share,Tangible Book Value,Tangible Book Value Per Share,Land,Buildings,Machinery,Construction In Progress
1,2024,2589,2589,-5.53%,1686,2360,4046,2080,769.5,9484,...,11.86,11.86,-795,900.81,7754,653.52,37.5,9247,8361,8769
2,2023,2741,2741,9.79%,1532,2131,3663,1824,314.1,8541,...,9.99,9.99,927.1,757.16,4992,499.66,37.5,9463,8273,3447
3,2022,2496,2496,44.54%,1576,1956,3532,1759,105.6,7893,...,9.99,9.99,2780,758.35,6001,600.59,-,-,-,-
4,2021,1727,1727,88.14%,2227,1444,3671,1131,92.4,6622,...,9.99,9.99,1890,579.44,4549,455.34,53.3,7464,7949,834.6
5,2020,917.9,917.9,9.52%,977.4,1623,2600,867.6,1.9,4388,...,9.99,9.99,-927.9,421.85,1691,169.21,-,-,-,-

In [32]:
# Converte Fiscal Year column to datetime type:
bs_trsp['Fiscal Year']=pd.to_datetime(bs_trsp['Fiscal Year'],errors='coerce')
# change  xxxx-01-01 to xxxx-12-31 :
bs_trsp['Fiscal Year']=bs_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
bs_trsp['Fiscal Year']=pd.to_datetime(bs_trsp['Fiscal Year'],errors='coerce')
bs_trsp

,Fiscal Year,Cash & Equivalents,Cash & Short-Term Investments,Cash Growth,Accounts Receivable,Other Receivables,Receivables,Inventory,Other Current Assets,Total Current Assets,...,Filing Date Shares Outstanding,Total Common Shares Outstanding,Working Capital,Book Value Per Share,Tangible Book Value,Tangible Book Value Per Share,Land,Buildings,Machinery,Construction In Progress
1,2024-12-31,2589,2589,-5.53%,1686,2360,4046,2080,769.5,9484,...,11.86,11.86,-795,900.81,7754,653.52,37.5,9247,8361,8769
2,2023-12-31,2741,2741,9.79%,1532,2131,3663,1824,314.1,8541,...,9.99,9.99,927.1,757.16,4992,499.66,37.5,9463,8273,3447
3,2022-12-31,2496,2496,44.54%,1576,1956,3532,1759,105.6,7893,...,9.99,9.99,2780,758.35,6001,600.59,-,-,-,-
4,2021-12-31,1727,1727,88.14%,2227,1444,3671,1131,92.4,6622,...,9.99,9.99,1890,579.44,4549,455.34,53.3,7464,7949,834.6
5,2020-12-31,917.9,917.9,9.52%,977.4,1623,2600,867.6,1.9,4388,...,9.99,9.99,-927.9,421.85,1691,169.21,-,-,-,-

## Cash Flow Transpose:

In [9]:
# Transpose data:
cf_trsp=cash_flow.transpose().reset_index(drop=False)

# set first row as columns head:
cf_trsp.columns=cf_trsp.iloc[0]

# drop First row:
cf_trsp=cf_trsp.drop(0)
cf_trsp

,Fiscal Year,Net Income,Depreciation & Amortization,Other Amortization,Loss (Gain) From Sale of Assets,Asset Writedown & Restructuring Costs,Loss (Gain) on Equity Investments,Other Operating Activities,Change in Accounts Receivable,Change in Inventory,...,Net Cash Flow,Free Cash Flow,Free Cash Flow Growth,Free Cash Flow Margin,Free Cash Flow Per Share,Cash Interest Paid,Cash Income Tax Paid,Levered Free Cash Flow,Unlevered Free Cash Flow,Change in Net Working Capital
1,2024,619.8,1279,200.88,14.1,-94.23,-12.5,638.9,-574.3,-292.8,...,-800.9,-4133,-,-46.64%,-348.30,529.5,260.2,-5770,-5439,447.6
2,2023,514.4,1199,249.61,-37.4,-49.12,95.8,386,-356.8,-88.6,...,-1949,-323.8,-,-4.31%,-32.41,486.5,82,-970.58,-666.52,12.2
3,2022,1615,1100,373.8,0.3,26.5,-156.8,571.2,547,-577.1,...,462.7,310.8,-53.84%,3.22%,31.11,289.4,63.6,-114.18,66.7,478.9
4,2021,861.5,1077,368,-,-0.9,-67,459.8,-934.4,-262.3,...,3484,673.3,-,9.07%,67.39,312.7,79.7,363.88,559.31,-662.2
5,2020,224.8,888.5,216,-1,68.5,11,258.2,-227.7,51.7,...,-462,-553,-,-11.70%,-55.35,239,46,-1049,-899.69,10.5

In [35]:
# Converte Fiscal Year column to datetime type:
cf_trsp['Fiscal Year']=pd.to_datetime(cf_trsp['Fiscal Year'],errors='coerce')
# change  xxxx-01-01 to xxxx-12-31 :
cf_trsp['Fiscal Year']=cf_trsp['Fiscal Year'].dt.year.astype(str)+'-12-31'
cf_trsp['Fiscal Year']=pd.to_datetime(cf_trsp['Fiscal Year'],errors='coerce')
cf_trsp

,Fiscal Year,Net Income,Depreciation & Amortization,Other Amortization,Loss (Gain) From Sale of Assets,Asset Writedown & Restructuring Costs,Loss (Gain) on Equity Investments,Other Operating Activities,Change in Accounts Receivable,Change in Inventory,...,Net Cash Flow,Free Cash Flow,Free Cash Flow Growth,Free Cash Flow Margin,Free Cash Flow Per Share,Cash Interest Paid,Cash Income Tax Paid,Levered Free Cash Flow,Unlevered Free Cash Flow,Change in Net Working Capital
1,2024-12-31,619.8,1279,200.88,14.1,-94.23,-12.5,638.9,-574.3,-292.8,...,-800.9,-4133,-,-46.64%,-348.30,529.5,260.2,-5770,-5439,447.6
2,2023-12-31,514.4,1199,249.61,-37.4,-49.12,95.8,386,-356.8,-88.6,...,-1949,-323.8,-,-4.31%,-32.41,486.5,82,-970.58,-666.52,12.2
3,2022-12-31,1615,1100,373.8,0.3,26.5,-156.8,571.2,547,-577.1,...,462.7,310.8,-53.84%,3.22%,31.11,289.4,63.6,-114.18,66.7,478.9
4,2021-12-31,861.5,1077,368,-,-0.9,-67,459.8,-934.4,-262.3,...,3484,673.3,-,9.07%,67.39,312.7,79.7,363.88,559.31,-662.2
5,2020-12-31,224.8,888.5,216,-1,68.5,11,258.2,-227.7,51.7,...,-462,-553,-,-11.70%,-55.35,239,46,-1049,-899.69,10.5

## Ratios Transpose:

In [10]:
# Transpose data:
ratios_trsp=ratios.transpose().reset_index(drop=False)

# set first row as columns head:
ratios_trsp.columns=ratios_trsp.iloc[0]

# drop First row:
ratios_trsp=ratios_trsp.drop(0)
ratios_trsp

,Fiscal Year,Market Capitalization,Market Cap Growth,Enterprise Value,Last Close Price,PE Ratio,Forward PE,PS Ratio,PB Ratio,P/TBV Ratio,...,Return on Equity (ROE),Return on Assets (ROA),Return on Capital (ROIC),Return on Capital Employed (ROCE),Earnings Yield,FCF Yield,Dividend Yield,Payout Ratio,Buyback Yield / Dilution,Total Shareholder Return
1,2024,34277,94.92%,42552,2889.00,55.30,41.05,3.87,3.00,4.42,...,8.02%,2.93%,3.69%,6.30%,1.81%,-12.06%,1.39%,57.42%,-18.75%,-17.36%
2,2023,17585,-30.44%,24283,1712.25,34.19,21.03,2.34,2.14,3.52,...,6.58%,3.07%,4.00%,6.70%,2.93%,-1.84%,1.75%,58.28%,-,1.75%
3,2022,25278,61.15%,30035,2423.30,15.66,18.74,2.62,3.08,4.21,...,24.23%,6.88%,9.31%,14.00%,6.39%,1.23%,1.24%,12.38%,-,1.24%
4,2021,15686,36.64%,21721,1490.13,18.21,40.41,2.11,2.51,3.45,...,17.25%,5.39%,7.05%,10.80%,5.49%,4.29%,-,-,-,-
5,2020,11480,35.18%,16712,1090.54,51.07,99.06,2.43,2.55,6.79,...,5.32%,2.50%,3.06%,6.30%,1.96%,-4.82%,-,-,-,-

# Feature Engineering:

## Variables:

In [11]:
# Overview:
market_cap= ratios_trsp['Market Capitalization'].str.replace(',','').astype(float)
revenue= inc_trsp['Revenue'].str.replace(',','').astype(float)
revenue_growth=inc_trsp['Revenue Growth (YoY)'].str.replace(',','').str.replace('%','').astype(float) /100
cogs=inc_trsp['Cost of Revenue'].str.replace(',','').astype(float)
gross_profit=inc_trsp['Gross Profit'].str.replace(',','').astype(float)
ebitda=inc_trsp['EBITDA'].str.replace(',','').astype(float)
ebitda_margin=inc_trsp['EBITDA Margin'].str.replace(',','').str.replace('%','').astype(float) /100
ebit=inc_trsp['Operating Income'].str.replace(',','').astype(float)
ebit_margin=inc_trsp['EBIT Margin'].str.replace(r'[%,]','',regex=True).astype(float) /100 
ebt=inc_trsp['Pretax Income'].str.replace(',','').astype(float)
net_income=inc_trsp['Net Income'].str.replace(',','').astype(float)
net_income_growth=inc_trsp['Net Income Growth'].str.replace(r'[%,]','',regex=True).replace('-',np.nan).astype(float) /100
earining_per_share=inc_trsp['EPS (Basic)'].str.replace(',','').astype(float)
free_cash_flow=inc_trsp['Free Cash Flow'].str.replace(',','').astype(float)
total_assets=bs_trsp['Total Assets'].str.replace(',','').astype(float)
total_liabilities=bs_trsp['Total Liabilities'].str.replace(',','').astype(float)
total_equity=bs_trsp['Shareholders\' Equity'].str.replace(',','').astype(float)
operating_cash_flow=cf_trsp['Operating Cash Flow'].str.replace(',','').astype(float)
investing_cash_flow=cf_trsp['Investing Cash Flow'].str.replace(',','').astype(float)
financing_cash_flow=cf_trsp['Financing Cash Flow'].str.replace(',','').astype(float)
net_cash_flow=cf_trsp['Net Cash Flow'].str.replace(',','').astype(float)
## Activity ratios:
receivables=bs_trsp['Receivables'].str.replace(',','').astype(float)
begining_receivables=receivables.shift(-1,fill_value=np.mean(receivables))
average_recievables=(receivables+begining_receivables)/2
inventory=bs_trsp['Inventory'].str.replace(',','').astype(float)
begining_inventory=inventory.shift(-1,fill_value=np.mean(inventory))
average_inventory=(inventory+begining_inventory)/2
payables=bs_trsp['Accounts Payable'].str.replace(',','').astype(float)
begining_paybles=payables.shift(-1,fill_value=np.mean(payables))
average_payables=(payables+begining_paybles)/2
working_capital=bs_trsp['Working Capital'].str.replace(',','').astype(float)
begining_working_capital=working_capital.shift(-1,fill_value=np.mean(working_capital))
average_working_capital=(working_capital+begining_working_capital)/2
begening_total_equity=total_equity.shift(-1,fill_value=np.mean(total_equity))
average_total_equity=(total_equity+begening_total_equity)/2
## Liquidity Ratios:
current_assets=bs_trsp['Total Current Assets'].str.replace(',','').astype(float)
current_liabilities=bs_trsp['Total Current Liabilities'].str.replace(',','').astype(float)
cash_and_equivalents=bs_trsp['Cash & Equivalents'].str.replace(',','').astype(float)
## Solvency Ratios:
total_debt=bs_trsp['Total Debt'].str.replace(',','').astype(float)
begining_total_assets=total_assets.shift(-1,fill_value=np.mean(total_assets))
average_total_asset=(total_assets+begining_total_assets)/2
interest_expenses=inc_trsp['Interest Expense'].str.replace(',','').astype(float)
## Profitability:
## Valuation Ratios:
price_to_earning=ratios_trsp['PE Ratio'].str.replace(',','').astype(float)
price_to_sale=ratios_trsp['PS Ratio'].str.replace(',','').astype(float)
price_to_book=ratios_trsp['PB Ratio'].str.replace(',','').astype(float)
dividend_yield=ratios_trsp['Dividend Yield'].str.replace(r'[%,]','',regex=True).replace('-',np.nan).astype(float)/100
ev_ebitda=ratios_trsp['EV/EBITDA Ratio'].str.replace(',','').astype(float)
ev_ebit=ratios_trsp['EV/EBIT Ratio'].str.replace(',','').astype(float)
entreprise_value=ratios_trsp['Enterprise Value'].str.replace(',','').astype(float)

## Overview:

In [12]:
overview= bs_trsp[['Fiscal Year']].copy()
overview['Market Cap']= market_cap * 1000000
overview['Revenue']= revenue * 1000000
overview['Revenue Growth']=revenue_growth
overview['COGS']=cogs * 1000000
overview['Gross Profit']=gross_profit * 1000000
overview['EBITDA']=ebitda * 1000000
overview['EBITDA %']=ebitda_margin
overview['EBIT']=ebit * 1000000
overview['EBIT %']=ebit_margin
overview['EBT']=ebt * 1000000
overview['Net Income']= net_income* 1000000
overview['Net Income %']=net_income_growth
overview['EPS']=earining_per_share
overview['Free Cash Flow']=free_cash_flow* 1000000
overview['Total Assets']=total_assets* 1000000
overview['Total Liabilities']=total_liabilities* 1000000
overview['Total Equity']=total_equity* 1000000
overview['Operating Cash Flow']=operating_cash_flow* 1000000
overview['Investing Cash Flow']=investing_cash_flow* 1000000
overview['Financing Cash Flow']=financing_cash_flow* 1000000
overview['Net Cash Flow']=net_cash_flow* 1000000
overview

,Fiscal Year,Market Cap,Revenue,Revenue Growth,COGS,Gross Profit,EBITDA,EBITDA %,EBIT,EBIT %,...,Net Income %,EPS,Free Cash Flow,Total Assets,Total Liabilities,Total Equity,Operating Cash Flow,Investing Cash Flow,Financing Cash Flow,Net Cash Flow
1,2024,3.427700e+10,8.859000e+09,0.1801,4.339000e+09,4.520000e+09,2.486000e+09,0.2806,1.252000e+09,0.1414,...,0.2049,52.24,-4.133000e+09,3.022500e+10,1.880700e+10,1.141900e+10,3.122000e+09,-7.894000e+09,3.986000e+09,-8.009000e+08
2,2023,1.758500e+10,7.508000e+09,-0.2216,3.803000e+09,3.705000e+09,2.180000e+09,0.2904,1.044000e+09,0.1391,...,-0.6814,51.48,-3.238000e+08,2.324200e+10,1.501500e+10,8.228000e+09,2.432000e+09,-3.800000e+09,-4.828000e+08,-1.949000e+09
3,2022,2.527800e+10,9.645000e+09,0.2994,4.314000e+09,5.332000e+09,3.019000e+09,0.3130,1.994000e+09,0.2067,...,0.8741,161.59,3.108000e+08,1.930500e+10,1.109700e+10,8.208000e+09,2.485000e+09,-2.409000e+09,2.174000e+08,4.627000e+08
4,2021,1.568600e+10,7.423000e+09,0.5707,3.284000e+09,4.139000e+09,2.319000e+09,0.3125,1.317000e+09,0.1775,...,2.8323,86.22,6.733000e+08,1.689400e+10,1.064900e+10,6.244000e+09,3.045000e+09,-2.678000e+09,3.070000e+09,3.484000e+09
5,2020,1.148000e+10,4.726000e+09,0.0379,1.988000e+09,2.738000e+09,1.327000e+09,0.2807,5.221000e+08,0.1105,...,NaN,22.50,-5.530000e+08,1.366200e+10,9.167000e+09,4.495000e+09,1.767000e+09,-2.536000e+09,3.460000e+08,-4.620000e+08

## Activity Ratios:

In [13]:
activ_ratios=inc_trsp[['Fiscal Year']].copy()
activ_ratios['Receivables']=receivables* 1000000
activ_ratios['Receivables Trunover']=revenue/average_recievables
activ_ratios['Inventory']=inventory* 1000000
activ_ratios['Inventory Turnover']=cogs/average_inventory
activ_ratios['Payables']=payables* 1000000
activ_ratios['Payables Turnover']=cogs/average_payables
activ_ratios['DSO']=(average_recievables/revenue)*365
activ_ratios['DIO']=(average_inventory/cogs)*365
activ_ratios['DPO']=(average_payables/cogs)*365
activ_ratios['CCC']=activ_ratios['DSO']+activ_ratios['DIO']-activ_ratios['DPO']
activ_ratios['Working Capital']=working_capital* 1000000
activ_ratios['Working Capital Turnover']=revenue/average_working_capital
activ_ratios['Equity Turnover']=revenue/average_total_equity
activ_ratios

,Fiscal Year,Receivables,Receivables Trunover,Inventory,Inventory Turnover,Payables,Payables Turnover,DSO,DIO,DPO,CCC,Working Capital,Working Capital Turnover,Equity Turnover
1,2024,4.046000e+09,2.298353,2.080000e+09,2.222848,2.661000e+09,1.892281,158.809403,164.203734,192.888914,130.124222,-7.950000e+08,134.125662,0.901817
2,2023,3.663000e+09,2.087005,1.824000e+09,2.122802,1.925000e+09,2.186889,174.891782,171.942545,166.903760,179.930567,9.271000e+08,4.050606,0.913604
3,2022,3.532000e+09,2.678051,1.759000e+09,2.985467,1.553000e+09,2.994793,136.293157,122.258924,121.878187,136.673894,2.780000e+09,4.130621,1.334763
4,2021,3.671000e+09,2.367406,1.131000e+09,3.286300,1.328000e+09,3.090242,154.177219,111.067144,118.113733,147.130630,1.890000e+09,15.430828,1.382438
5,2020,2.600000e+09,1.548899,8.676000e+08,1.656722,7.974000e+08,1.622672,235.651291,220.314588,224.937676,231.028202,-9.279000e+08,-61.753561,0.773879

## Liquidity ratios:

In [14]:
liqu_ratios=bs_trsp[['Fiscal Year']].copy()
liqu_ratios['Current Assets']=current_assets *1000000
liqu_ratios['Current Liabilities']=current_liabilities*1000000
liqu_ratios['Current Ratio']=current_assets/current_liabilities
liqu_ratios['Quick Ratio']=(current_assets-inventory)/current_liabilities
liqu_ratios['Cash Ratio']=cash_and_equivalents/current_liabilities
liqu_ratios['Operating Cash Flow Ratio']=operating_cash_flow/current_liabilities
liqu_ratios

,Fiscal Year,Current Assets,Current Liabilities,Current Ratio,Quick Ratio,Cash Ratio,Operating Cash Flow Ratio
1,2024,9.484000e+09,1.027900e+10,0.922658,0.720304,0.251873,0.303726
2,2023,8.541000e+09,7.614000e+09,1.121749,0.882191,0.359995,0.319412
3,2022,7.893000e+09,5.113000e+09,1.543712,1.199687,0.488167,0.486016
4,2021,6.622000e+09,4.732000e+09,1.399408,1.160397,0.364962,0.643491
5,2020,4.388000e+09,5.316000e+09,0.825433,0.662227,0.172667,0.332393

## Solvency Ratios

In [15]:
solv_ratios=inc_trsp[['Fiscal Year']].copy()
solv_ratios['Debt to Equity']=total_debt/total_equity
solv_ratios['Debt to Capital']=total_debt/(total_debt+total_equity)
solv_ratios['Debt to Assets']=total_debt/total_assets
solv_ratios['Financial leverage']=average_total_asset/average_total_equity
solv_ratios['Interest coverage']=ebit/interest_expenses
solv_ratios

,Fiscal Year,Debt to Equity,Debt to Capital,Debt to Assets,Financial leverage,Interest coverage
1,2024,1.136702,0.531989,0.429446,2.721382,-2.364495
2,2023,1.196159,0.544660,0.423458,2.588647,-2.145940
3,2022,0.772539,0.435838,0.328464,2.504774,-6.890117
4,2021,0.955958,0.488742,0.353321,2.845330,-4.211705
5,2020,1.480979,0.596933,0.487264,2.810559,-2.187264

## Profitability Ratios:

In [16]:
prof_ratios=inc_trsp[['Fiscal Year']].copy()
prof_ratios['Gross Profit Margin']=gross_profit/revenue
prof_ratios['Operating Profit(EBIT) Margin']=ebit/revenue
prof_ratios['Pre-tax Margin']=ebt/revenue
prof_ratios['Net Profit Margin']=net_income/revenue
prof_ratios['ROA']=net_income/ average_total_asset
prof_ratios['ROI']=net_income/average_total_equity
prof_ratios['Return on Capital (ROCE)']=ebit/(total_assets-current_liabilities)


prof_ratios

,Fiscal Year,Gross Profit Margin,Operating Profit(EBIT) Margin,Pre-tax Margin,Net Profit Margin,ROA,ROI,Return on Capital (ROCE)
1,2024,0.510216,0.141325,0.111288,0.069963,0.023184,0.063094,0.062769
2,2023,0.493474,0.139052,0.070218,0.068514,0.024180,0.062594,0.066803
3,2022,0.552825,0.206739,0.205288,0.167444,0.089229,0.223498,0.140502
4,2021,0.557591,0.177422,0.145224,0.116058,0.056388,0.160443,0.108288
5,2020,0.579348,0.110474,0.061659,0.047567,0.013097,0.036811,0.062557

## Valuation Ratios:

In [17]:
val_ratios=inc_trsp[['Fiscal Year']].copy()
val_ratios['Entreprise Value']=entreprise_value*1000000
val_ratios['EPS']=earining_per_share
val_ratios['P/E']=price_to_earning
val_ratios['P/S']=price_to_sale
val_ratios['P/B']=price_to_book
val_ratios['Dividend Yield']=dividend_yield
val_ratios['EV/EBITDA']=ev_ebitda
val_ratios['EV/EBIT']=ev_ebit
val_ratios

,Fiscal Year,Entreprise Value,EPS,P/E,P/S,P/B,Dividend Yield,EV/EBITDA,EV/EBIT
1,2024,4.255200e+10,52.24,55.30,3.87,3.00,0.0139,17.11,33.98
2,2023,2.428300e+10,51.48,34.19,2.34,2.14,0.0175,11.14,23.26
3,2022,3.003500e+10,161.59,15.66,2.62,3.08,0.0124,9.95,15.07
4,2021,2.172100e+10,86.22,18.21,2.11,2.51,NaN,9.37,16.49
5,2020,1.671200e+10,22.50,51.07,2.43,2.55,NaN,12.60,32.01

In [ ]:
data={
    'Income Statement':income_statement,
    'Balance Sheet':balance_sheet,
    'Cash Flow Statement':cash_flow,
    'Ratios':ratios,
    'Income Statement trsp':inc_trsp,
    'Balance Sheet trsp':bs_trsp,
    'Cash Flow Statement trsp':cf_trsp,
    'Ratios trsp':ratios_trsp,
    'Overview':overview,
    'Activity Ratios':activ_ratios,
    'Liquidity Ratios':liqu_ratios,
    'Solvency Ratios':solv_ratios,
    'Profitability Ratios':prof_ratios,
    'Valuation Ratios':val_ratios

}

file_name='Financial Ratios (Managem).xlsx'

with pd.ExcelWriter(file_name,engine='xlsxwriter') as f:
    for name,df in data.items():
        df.to_excel(f,sheet_name=name,index=False)

print(f'Excel File {file_name} Saved successfully')